node_modules
artifacts
cache
typechain-types
network_keys
package-lock.json
.DS_store

chainlink/contracts/src/*
!chainlink/contracts/src/v0.8

/chainlink/contracts/src/v0.8/*
!chainlink/contracts/src/v0.8/AutomationCompatible.sol
!chainlink/contracts/src/v0.8/AutomationBase.sol

!chainlink/contracts/src/v0.8/interfaces
/chainlink/contracts/src/v0.8/interfaces/*
!chainlink/contracts/src/v0.8/interfaces/AutomationCompatibleInterface.sol
